<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content">
    <!-- wp:post-featured-image {"aspectRatio":"21/9","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|large"}}}} /-->

    <!-- wp:post-title {"level":1,"fontSize":"x-large","textColor":"primary","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|medium"}}}} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"},"align":"wide"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->