PROJECT_NAME="hello-wordpress-vanilla"
COMPOSE_PROJECT_NAME=${PROJECT_NAME}

CMS_PROJECT_PATH="/backend/cms/${PROJECT_NAME}-cms"

WORDPRESS_VERSION="6.8.2-php8.1-apache"
MARIADB_VERSION="11.7.2-noble"
PHPMYADMIN_VERSION="5.2.2"

DATABASE_PASSWORD="password"
DATABASE_USER="root"
DATABASE_HOST="mariadb-database"
DATABASE_TABLE_PREFIX=hw_

MYSQL_ROOT_PASSWORD=${DATABASE_PASSWORD}
MYSQL_USER=${DATABASE_USER}
MYSQL_PASSWORD=${DATABASE_PASSWORD}
MYSQL_DATABASE=${COMPOSE_PROJECT_NAME}

WORDPRESS_DB_NAME=${COMPOSE_PROJECT_NAME}
WORDPRESS_TABLE_PREFIX=${DATABASE_TABLE_PREFIX}
WORDPRESS_DB_HOST=${DATABASE_HOST}
WORDPRESS_DB_USER=${DATABASE_USER}
WORDPRESS_DB_PASSWORD=${DATABASE_PASSWORD}

# DEBUG
WORDPRESS_DEBUG=true
WORDPRESS_DEBUG_LOG=true
WORDPRESS_DEBUG_DISPLAY=false

WORDPRESS_PORT=3000
PHPMYADMIN_PORT=8080
PMA_HOST=${DATABASE_HOST}